body {
      font-family: 'Poppins', sans-serif;
      line-height: 1.4;
    }

h1{
   text-align: center;
   background-color: rgba(0,169,49,.8);
   margin: 0;
   color: #fff;
   padding: 30px;
}

.box{
   
   display: flex;
   width: 80%;
   background: #fff;
   /* background-color: rgba(0,0,0,0.8); */
   margin: 100px;
   border-radius: 7px;
   border-bottom: 2px solid rgba(0,0,0,0.8);
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: center;
}

.box .heading{
   align-items: center;
   align-content: center;
   font-size: 1.9em;
   color:#fff;
   background-color: rgba(0,169,49,.8);

}


.box .faqs{
   /* flex: 1 auto; */
   align-content: center;
   align-items: center;
   margin-top: 50px;
   /* padding: 0px 20px 20px; */
}

::-webkit-details-marker{
   float: right;
   margin-top: 3px;
}

details{
   width: 100%;
   background: #f6f6f6;
   padding: 10px 20px;
   border-radius: 7px;
   margin-top: 20px;
   font-size: 25px;
   letter-spacing: 1px;
   cursor: pointer;
   border-bottom: 1px solid rgba(0,169,49,.8);
}

details summary{
   outline: none;
}

.text{
   background-color: rgba(173, 173, 173, 0.8);
}

@media only screen and (max-width: 375px){ 
   .box{
      margin-left: 70px;
   
   }
}

/* @media only screen and (max-width: 920px){ 
   .box{
      margin-left: 280px;
   
   }
} */
