body {
      font-family: 'Poppins', sans-serif;
      line-height: 1.4;
    }

h1{
   text-align: center;
   background-color: rgba(0, 146, 69, 0.8);
   margin: 0;
   color: #fff;
   padding: 30px;
   margin-top: 70px;
}

.box{
   
   display: flex;
   width: 100%;
   background: #fff;
   border-radius: 7px;
   border-bottom: 2px solid rgba(0,0,0,0.8);
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: center;
}

.box .heading{
   /* align-items: center;
   align-content: center; */
   text-align: center;
   font-size: 1.9em;
   color:#fff;
   padding: 10px;
   width: 98.7%;
   background-color: rgba(0, 146, 69, 0.8);

}


.box .faqs{
   /* flex: 1 auto; */
   width: 80%;
   margin-left: 10%;
   margin-right: 10%;
   align-content: center;
   align-items: center;
   margin-top: 50px;
   /* padding: 0px 20px 20px; */
}

::-webkit-details-marker{
   float: right;
   margin-top: 3px;
}

details{
   width: 100%;
   background: #f6f6f6;
   padding: 10px 20px;
   border-radius: 7px;
   margin-top: 20px;
   font-size: 25px;
   letter-spacing: 1px;
   cursor: pointer;
   border-bottom: 1px solid rgba(0,169,49,.8);
}

details summary{
   outline: none;
}

.text{
   background-color: rgba(0, 149, 69, 0.2);
}

@media only screen and (max-width: 375px){ 
   .box{
      margin-left: 70px;
   
   }
}
.faqh2{
   font-size: 25px;
   background-color: rgba(0, 146, 69, 0.8);
   padding: 10px;
   color: #fff;
}

@media only screen and (max-width: 578px){ 
   h1{
      margin-top: 0px;
   }

   .box .heading{
      width: 95%;

   }
}


@media (max-width: 1024px) {       
   

   .box .heading{
      width: 98%;
   }
}

@media (max-width: 768px) {       
   
   .box .faqs{
     width: 77%;
   }
   .box .heading{
      width: 97.4%;
   }
}

@media (max-width: 425px) {       
   details{
      padding: 10px 10px;
   }
   .box .faqs{
     width: 76%;
   }
   .box .heading{
      width: 95%;
   }
   
}
@media (max-width: 375px) {       
   .box .faqs{
      margin-left: 0;
      margin-right: 0;
      width: 73%;

   }
   .box{
      margin-left: 0px;
   }
   details{
      padding:10px 50px;
   }
}

