/* This css code is for the menu webpage and product webpage for all other webpages refer to other css codes*/
*,*::after, *::before{
  box-sizing: border-box;
}
body{
	height: 100%;
  margin:0;
  font-family: 'Poppins', sans-serif;
  line-height: 1.4;
	display: flex;
	flex-direction:column;
	flex-wrap: wrap;
}

.content h1{
  color: #fff;
  margin-top: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #009245;
  align-items: center;
}
/*second navigation for menu screen starts here*/
.button{
background-color:#009245;
border: none;
color: #000000;
padding: 20px;
text-align: center;
text-decoration: none;
display: inline-block;
/* flex-direction: row; */
font-size: 16px;
margin: 15px;
cursor: pointer;
-webkit-transition-duration: 0.4s; /* Safari */
transition-duration: 0.4s;
border-radius: 12px;
}

.button a{
  color: #fff;
  text-decoration: none;

}
.button:hover{
	background-color: #000;
	color: #FFFFFF;
}
/* .content{
	flex: 1 0 auto;
	height: 100%;
} */
.box{
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: -ms-flex;
  flex-wrap: -webkit-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
  align-content: flex-end;
}
/*Menu */
.flexbox-container{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.flexbox-container .flexbox-item{
  padding-bottom: 50px;
  width: 300px;
  height: 500px;
  margin: 25px;
  background-color: #fff;
  /* min-height: 100px; */
  transition: all .5s ease-in-out;
}
.flexbox-container .flexbox-item:hover{
  width: 300px;
  height: 50%;
  box-shadow: 1px 1px 7px #000000;
  transition: all .5s ease-in-out;
  transform: translateY(-50px);
}

.flexbox-item a{
  text-decoration: none;
  color: #fff;
}

.flexbox-item .headin{
  /* background-color: #009245; */
  margin: 0;
}

.flexbox-item .intro{
  /* background-color: #000000; */
  font-style: italic;
  margin: 0;
  font-size: 1em;
  color: #009245;
  opacity: 0;
  align-items: center;
  padding-top: -40%;
}

/* .flexbox-item .price{
  text-align: end;
  font-style: italic;
  font-weight: 100px;
  font-size: .9em;
  white-space: nowrap;
  color:
  opacity: 0;
  margin: 0;
} */
.flexbox-item .time{
  font-size: 0.9em;
  align-content: flex-end;
  text-align: end;
  color:#959595;
  opacity: 0;
  padding-bottom: 0%;
  margin:0;
}


.flexbox-item:hover .time{
  opacity: 100;
}

.flexbox-item:hover .intro{
  opacity: 100;
}

.flexbox-item:hover .price{
  opacity: 100;
  font-weight: 100px;
}

.flexbox-item .add{
  align-items: flex-end;
  width: 100%;
  object-fit: cover;
 
}

.flexbox-item:hover .add{
  opacity:1;
  transition: all .5s;
}

.flexbox-item .stock{
  align-items: flex-end;
  width: 100%;
  object-fit: cover;
 
}

.flexbox-item:hover .stock{
  opacity:1;
  transition: all .5s;
}




.checked{
  color: #009245;
}

.rating{
  text-align: center;
  /* margin-bottom: 0;
  padding-bottom: 0; */
  opacity: 0;
  font-size: 15px;
  margin: 0px;
}

.flexbox-item:hover .rating{
  opacity: 100%;
}

.menu-img{
  width: 100%;
  height: 100%;
  margin: 0;
  object-fit: cover;
}
/*Second navigation for menu screen ends here */
.add {
background-color: rgba(0, 0, 0, 0.8);
align-content: flex-end;
border: none;
color: #fff;
padding: 7px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 15px;
/*margin: 75px;*/
cursor: pointer;
-webkit-transition-duration: 0.4s; /* Safari */
transition-duration: 0.4s;
opacity: 0;
transition: all .5s;
/*border-radius: 12px;*/
}
.add:hover{
	background-color: rgba(0, 146, 69, 0.8);
	color: #FFFFFF;
}


.stock{
  background-color: rgba(0, 0, 0, 0.8);
  align-content: flex-end;
  border: none;
  color: #fff;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  /*margin: 75px;*/
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  opacity: 0;
  transition: all .5s;
  /*border-radius: 12px;*/
  }
  .stock:hover{
    background-color: rgba(211, 59, 59, 0.8);
    color: #FFFFFF;
  }
.img-wrapper{
  width: 100%;
  position: relative;
  margin-top:-10%;
}

/*Product Page*/
.flexbox-Product{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.flexbox-food{
  padding-bottom: 50px;
  width: 100%;
  margin: 25px;
  height: 400px;
  padding:0;
  margin: 0;
}

.flexbox-about{
  /* flex: 1; */
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 50px;
  align-items: center;
  align-content: center;
  /* background-color: rgba(0, 0, 0, 0.5); */
  margin-top: 20px;

}

.flexbox-about .ingredients{
  display: inline-block;
  width: 500px;
  min-height:200px;
  background-color: #fff;
  border: 2px #009245 solid;
  border-radius: 30px;
}


.flexbox-about .steps{
  background-color: rgba(0, 146, 69, 0.8);
  display: inline-block;
  border-radius: 10px;
  width: 600px;
  color: #fff;
  box-shadow: 5px 10px grey;
}

.flexbox-video{
  position: relative;
  width: 100%;
  min-height:450px;
  padding:120px;
  align-content: center;
  /* margin-bottom: 190px; */
}

  .flexbox-video .video iframe{
    align-content: center;
   /* min-width: 100%;
   min-height:100%;
   object-fit: cover; */
   position: absolute;
   top:0;
   left:0;
   width: 100%;
   height: 100%;
}

.flexbox-video .quote{
    background-color: rgba(0, 0, 0, 0.8);
    align-content: center;
    border: none;
    color: #fff;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    transition: all .5s;
    border-radius: 10px;
}
 @media only screen and (max-width: 670px){ 

  .flexbox-about .ingredients {
    width: 100%;
    height: 100%;
  }
    .flexbox-about .steps {
      width: 100%;
      height: 100%;
    }
  }


  @media only screen and (max-width: 578px){
    .content h1{
      margin-top: 0px;
    }
  }

  @media only screen and (max-width: 441px){
    /* .button{

      padding: 15px 32px;
      display: inline-block;
      /* flex-direction: row; */
      /* font-size: 16px;
      margin: 30px;
      border-radius: 12px;
      } */ 


  }

  .parallax {
    /* background-image: url('img_parallax.jpg'); */
    height: 600px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
    margin: 0;
    width: 100%;
  }

  .rating-details{
    margin-top: 0px;
    text-align: center;
  }

  .getq{
    /* float: right; */
    background-color: rgba(0, 146, 69, 0.8);
    border-radius: 10px;
    padding: 10px;
    border: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }
  .getq:hover{
    background-color: rgba(0, 0, 0, 0.8);
  }

  .getq a{
    color: #fff;
    text-decoration: none;
  }

  