.WorkSection{
  background-color:white;
}

.work h1{
  text-align: center;
  padding: 10px;
}
.work p{
  text-align: center;

}


.but a{
  display:inline-block;
  text-decoration: none;
  padding: 10px 15px;
  margin-top: 15px;
  font-size: 18px;
  text-align: center;
  transition: 0.5s;
}

.but a:hover{
  background: #009245;
  color: #fff;
}


.workContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 500px;
}

.workItem{
  width: 250px;
  height: 300px;
  align-self: center;
  align-items: center;
  color: #fff;
  
}
.workItem h2{
  padding: 20px 20px 0px;
  font-size: 32px;
  line-height: 35px;  
  background-color: rgba(0, 0, 0, 0.4);
  margin-top: 85%;
}
.workItem p{
  padding: 0px 20px 20px;
  font-size: 18px;  background-color: rgba(0, 0, 0, 0.4);

}

.work1{
  min-height: 400px;
  background: url('https://img.hellofresh.com/f_auto,fl_lossy,q_auto,w_410/hellofresh_website/be/cms/homepage/image_columns/hiw-1-v2.png') no-repeat
  center top/cover;
  /* IMAGE TAKEN FROM https://img.hellofresh.com/f_auto,fl_lossy,q_auto,w_410/hellofresh_website/be/cms/homepage/image_columns/hiw-1-v2.png*/
}
.work2{
  min-height: 400px;
  background: url('https://img.hellofresh.com/f_auto,fl_lossy,q_auto,w_410/hellofresh_website/be/cms/homepage/image_columns/hiw-2-v2.png') no-repeat
  center top/cover;
  /* IMAGE TAKEN FROM https://img.hellofresh.com/f_auto,fl_lossy,q_auto,w_410/hellofresh_website/be/cms/homepage/image_columns/hiw-2-v2.png */
}
.work3{
  min-height: 400px;
  background: url('https://img.hellofresh.com/f_auto,fl_lossy,q_auto,w_410/hellofresh_website/be/cms/homepage/image_columns/hiw-3-v2.png') no-repeat
  center top/cover;
  /* IMAGE TAKEN FROM https://img.hellofresh.com/f_auto,fl_lossy,q_auto,w_410/hellofresh_website/be/cms/homepage/image_columns/hiw-3-v2.png */
}
.work4{
  min-height: 400px;
  background: url('https://img.hellofresh.com/f_auto,fl_lossy,q_auto,w_410/hellofresh_website/be/cms/homepage/image_columns/hiw-4-v3.png') no-repeat
  center top/cover;
  /* IMAGE TAKEN FROM : https://img.hellofresh.com/f_auto,fl_lossy,q_auto,w_410/hellofresh_website/be/cms/homepage/image_columns/hiw-4-v3.png */
}

.button {
  border: none;
  background-color:rgba(0, 0, 0, 0.8);
  padding: 16px 32px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin: 0 45% 3%;
}
.button1:hover {
  background-color: #009245;
}


@media (max-width: 991px) {
  .WorkSection{
    height: 2100px;
    margin-top: 10%;
  }
  .workItem{
    width: 280px;
    margin: 40px;
  }
  .workItem h2{
    font-size: 34px;
    line-height: 30px;
  }
  .workItem p{
    font-size: 18px;
    line-height: 28px;
    padding-top: 10px;
  }
  .button{
    font-size: 10px;
  }
  .button1{
    margin-top: 450px;
    margin-left: 43%;
    
  }
}


@media (max-width: 769px) {
  .WorkSection{
    height: 900px;
  }
}

@media (max-width: 720px) {
  .WorkSection {
    height: 2150px;
  }
}



@media (max-width: 425px) {   
  .WorkSection{
    height: 800px;
    margin-top: 15%;
  }
  .work p{
    font-size: 16px;
    margin-bottom: 5px;
    padding: 10px;
  }
  .workItem{
    width: 180px;
    margin: 10px;
  }
  .workItem h2{
    font-size: 24px;
    line-height: 20px;
  }
  .workItem p{
    font-size: 18px;
    line-height: 20px;
    padding-top: 10px;
  }

  .work1{
    min-height: 300px;
  }
  .work2{
    min-height: 300px;
  }
  .work3{
    min-height: 300px;
  }
  .work4{
    min-height: 300px;
  }

  .button1{
    margin-top: 150px;
    margin-left: 38%;
  }
}

@media (max-width: 375px) { 
  .workItem{
    width: 130px;
    height: 100px;
    margin: 10px;
  }
  .workItem h2{
    font-size: 20px;
    padding: 10px;
    line-height: 20px;
  }
  .workItem p{
    font-size: 14px;
    line-height: 20px;
    padding: 5px 10px 10px;
  }
  .work1{
    min-height: 200px;
  }
  .work2{
    min-height: 200px;
  }
  .work3{
    min-height: 200px;
  }
  .work4{
    min-height: 200px;
  }
  .button1{
    margin-top: 30px;
    margin-left: 36%;
  }

}